@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 30px;
}
.login img{
    width:60%;

}

#page{
    overflow: hidden;
}

#page-content{
  min-width: 0;
  width: 100%;
}

#page-content a{
    font-size: 20px;
    margin-right: 20px;
    font-weight: bold;
    
}


.container-fluid img{
    margin-top: 50px;
    width: 200px;
}